{% load staticfiles %}

<footer>
    <div class="row no-gutters">
        <div class="col-6"></div>
        <div class="col-6">
            <img src="{% static 'img/pylady_geek_girl_small.png' %}" alt="PyLadies Logo">
        </div>
    </div>
    <div class="row no-gutters" id="foot-blurb">
        <div class="container">
            <p><em>
                <a href="https://www.pyladies.com" id="pyladies-link"><strong>PyLadies</strong></a> is an international mentorship group with a focus on helping
                more women become active participants and leaders in the Python
                open-source community. Our mission is to promote, educate, and advance
                a diverse Python community through outreach, education, conferences,
                and social gatherings. PyLadies also aims to provide a friendly support
                network for women and a bridge to the larger Python world. Anyone with
                an interest in Python is encouraged to participate!
            </em></p>
        </div>
    </div>
</footer>